*
{
	margin: 0px;
	padding: 0px;
}

#pokepics
{
	width: 68%;
	display: inline-block;
}

#pokedex
{
	display: inline-block;
	border: solid 30px red;
	width: 23%;
	height: 500px;
	vertical-align: top;
	position: fixed;
	padding-left: 30px
}

#pokedex h2
{
	margin-left: 50px;
	margin-top: 10px;
}

#pokedex img
{
	margin-left: 50px;
}

#pokedex p{
	margin-bottom: 10px;
}

#pokedex ul li{
	margin-bottom: 10px;
	margin-left: 30px;
}

.bold
{
	font-weight: bold;

}